<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Pannel</title>   
</head>
<body>   
        <div class="left-side sticky-left-side">
            <!--logo and iconic logo start-->
            <div class="logo">
                <h1><a href="index.html">Admin <span>Pannel</span></a></h1>
            </div>
            <div class="logo-icon text-center">
                <a href="index.html"><i class="lnr lnr-home"></i> </a>
            </div>
            <!--logo and iconic logo end-->
            <div class="left-side-inner">
                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active"><a href="index.html"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
                    <li><a href="forms.html"><i class="lnr lnr-spell-check"></i> <span>Add Agent</span></a></li>
                    <li><a href="tables.html"><i class="lnr lnr-menu"></i> <span>Add Shipment</span></a></li>
                </ul>
                <!--sidebar nav end-->
            </div>
        </div>
</body>
</html>

